<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display all</title>
  </head>
  <body>
    <div>{display}</div>
    <div>{img}</div>
    <!-- <img src="../upload/43701.1334282087.jpg" alt="" width="200" height="200"/>
    <img src="../upload/gaugan_output.jpg" alt="" width="200" height="200">
    <img src="../upload/cat-7203072_1920.jpg" alt="" width="200" height="200"> -->

  </body>
</html>
